.card-container {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0;
  width: 40%;
}

.card-container img {
  margin: auto;
  width: 75%;
}

.card-container p {
  justify-content: space-around;
  margin-left: 20px;
}
